<div class="auth-screen">
  <div class="auth-screen__container">
    <div class="hero is-warning">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column is-1">
              <img src="/images/sketchbook.svg">
            </div>
            <div class="column is-6">
              <div class="content">
                <h2>Your Trello Authorization had expired</h2>
                <p>But don't worry, just click at the button on the side and authorize us to connect with your Trello account again. Trello authorizations are required monthly.</p>
              </div>
            </div>
            <div class="column">
              <a href="/register" class="button is-primary">
                Sign-up with your Trello Account
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>  
  </div>
</div>