<nav class="navbar is-primary">
  <div class="container">
    <div class="navbar-brand">
      <a href="/">
        <img src="/images/logo_rounded.png" alt="Logo da Bagaça" class="image is-48x48">
      </a>
      <div class="navbar-burger burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <!-- <a class="navbar-item" href="#">Links</a> -->
      </div>
      <% if(req.session.user) { %>
        <div class="navbar-end">
          <div class="navbar-item login-trigger has-dropdown is-hoverable">
            <a class="navbar-link">
              <%= req.session.user.username %>
            </a>
            <div class="navbar-dropdown is-boxed">
              <% if(req.session.user.role == 'admin') {%>
              <a class="navbar-item" href="/manage/sessions">
                Manage Sessions
              </a>
              <a class="navbar-item" href="/manage/users">
                Manage Users
              </a>
              <a class="navbar-item" href="/manage/webhooks">
                Manage Webhooks
              </a>
              <a class="navbar-item" href="/manage/actions">
                Manage Actions
              </a>
              <hr class="navbar-divider">
              <% } %>
              <a class="navbar-item" href="/logout">
                Logout
              </a>
            </div>
          </div>
        </div>
        <% } %>
    </div>
  </div>
</nav>