.input, 
.textarea{
  border-color: #00d1b2;
  border-radius: 2px;
  box-shadow: none;
}

.bg-warning-pattern{
  background-image: url('/images/pattern_2.png');
}

.dropdown-trigger button span::after{
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.625em;
    margin-top: -0.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    width: 0.625em;
}