<%- partial('../../layouts/header') %>


<% if(!session.user) { %>
  <%- partial('./partials/login-form') %>
<% } %>

<% if(session.user) { %>

<%- partial('./partials/subnav') %>



<section class="section" ng-controller="listController">
  <div class="container" ng-show="listRegistered">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <div class="notification" ng-class="{'is-danger': listRegistered.error, 'is-primary': listRegistered.success}">
          <button class="delete"></button>
          {{listRegistered.message}}
        </div>
      </div>
    </div>
  </div>
  <div class="container" ng-show="show_form">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <form name="newListForm" ng-submit="addList()" novalidate>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Título*</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" ng-class="{'is-danger': newListForm.title.$invalid  && newListForm.title.$touched}" type="text" ng-model="newList.title" name="title" required placeholder="seja breve...mas preciso">
                </div>
                <p class="help is-danger" ng-show="newListForm.title.$invalid && newListForm.title.$touched">
                  Obrigatório
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" name="description">Descrição</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea class="textarea" ng-model="newList.description" placeholder="Caso queria infromar mais detales sobre a lista"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <a href="/" class="button is-light">
                Cancelar
              </a>
            </p>
            <p class="control">
              <button class="button is-primary" ng-disabled="newListForm.$invalid" type="submit">
                Cadastrar Lista
              </button>
            </p>  
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container" ng-show="lists">
    <div class="columns is-multiline is-mobile">
      <div class="column is-4" ng-repeat="list in lists">
        <div class="card has-card-options">
          <div class="card-screen" ng-class="{'is-active':listOptions}">
            <div class="card-screen__header">
              <a class="card-screen__icon" ng-click="toggleListOptions($event)"><i class="icon icon-arrow-left" aria-hidden="true"></i></a>
              <p class="card-screen__title">Incluir Listas</p>
            </div>
            <div class="card-content">
              <div class="notification" ng-show="notification" ng-class="{'is-danger':notification.error,'is-primary':!notification.error}">
                {{notification.message}}
              </div>
              <div class="content">
                <form name="webhookForm" ng-submit="addWebhook(webhook)" novalidate>
                  <input type="hidden" type="text" name="listId" ng-model="webhook.targetListModel" value="{{list.id}}" ng-init="webhook.targetListModel=list.id">
                  <div class="field">
                    <div class="control">
                      <div class="select is-block">
                        <select ng-model="webhook.boardId" ng-change="getListsfromBoard($event)" placeholder="selecione um board" required>
                          <option ng-repeat="board in boardsOptions" value="{{board.id}}">{{board.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <div class="control">
                      <div class="select is-block" ng-class="{'is-loading':isLoading}">
                        <select ng-model="webhook.modelId" ng-disabled="!selectOptions || isLoading" required>
                          <option ng-repeat="list in selectOptions" value="{{list.id}}" ng-hide="list.subscription">{{list.name}}</option>                          
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="control">
                    <button type="submit" class="button is-primary is-block" ng-disabled="webhookForm.$invalid">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <header class="card-header">
            <p class="card-header-title">
              {{list.name}}
            </p>
            <span href="#" class="card-header-icon" aria-label="more options">
              <div class="dropdown is-right is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span class="icon is-small">
                      <i class="icon icon-arrow-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a ng-click="toggleListOptions($event)" class="dropdown-item">
                      Inscrever listas
                    </a>
                    <span class="dropdown-divider"></span>
                    <a ng-click="deleteList(list.id)" class="dropdown-item">
                      deletar lista
                    </a>
                  </div>
                </div>
              </div>
            </span>
          </header>
          <div class="card-content" ng-controller="cardsController" ng-init="getCards(list.id)">
            <div class="content">
              <div class="card-item" ng-repeat="card in listCards">
                <p class="card-item__title">{{card.title}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section" ng-controller="listController">
  <div class="container" ng-if="boards">
    <div class="columns is-multiline is-mobile">
      <div class="column is-one-quarter" ng-repeat="board in boards">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Board
            </p>
            <a href="#" class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </a>
          </header>
          <div class="card-content">
            <div class="content">
              <p class="subtitle">
                {{ board.name }}
              </p>
            </div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" href="/lists/{{ board.id }}" >Ver Listas</a>
          </footer>
        </div>      
      </div>
    </div>
  </div>
</section>  

<% } %>