<%- partial('../../layouts/header') %>


<% if(!session.user) { %>
  <%- partial('./partials/login-form') %>
<% } %>

<% if(session.user) { %>
<%- partial('./partials/subnav') %>
<section class="section" ng-controller="boardsController">
  <div class="container" ng-if="boards">
    <div class="columns is-multiline is-mobile">
      <div class="column is-one-quarter" ng-repeat="board in boards">
        <div class="card">
          <header class="card-header" style="background-color: {{board.prefs.backgroundTopColor}}">
            <p class="card-header-title">
              Board
            </p>
            <a href="#" class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </a>
          </header>
          <div class="card-content">
            <div class="content">
              <p class="subtitle">
                {{ board.name }}
              </p>
            </div>
          </div>
          <footer class="card-footer">
            <a href="/tasks/lists/{{ board.id }}" class="card-footer-item">Ver Listas</a>
          </footer>
        </div>      
      </div>
    </div>
  </div>
</section>  
<% } %>