<%- partial('../../layouts/header') %>

<section class="section">
  <div class="container">
    <table class="table"  >
      <thead>
        <tr>
          <th>Nome da Lista</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      <% _.each(lists, function(list){ %>
        <tr>
          <td><%= list.name %></td>
          <td><a class="button is-danger" href="#">Fazer Inscrição</a></td>
        </tr>
      <%})%>
      </tbody>
    </table>
  </div>
</section>