<%- exposeLocalsToBrowser() %>
<%- partial('../../../layouts/header') %>

<div class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <div class="content">
            <h2>Manage Data</h2>
          </div>
        </div>
        <div class="column">

        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <table class="table is-fullwidth" ng-controller="manageController">
      <thead>
        <tr>
          <th>Responsável</th>
          <th>Data</th>
          <th>Tipo</th>
          <th>Categoria</th>
          <th>Trello ID</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="action in actions" ng-cloak>
          <td>{{action.action.memberCreator.fullName}}</td>
          <td>{{ action.action.action.date  | date: 'd/M/yyyy hh:mm'}}</td>          
          <td>{{ action.action.action.type }}</td>
          <td>{{ action.action.action.display.translationKey }}</td>
          <td>{{ action.action.action.id }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
